<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Jam Blog - Isla de Margarita - Venezuela</title>
    <meta name="author" content="{{ site.author.name }}">
    <meta name"description" content="Jam Blog - Aprende Linux Facilmente. Blog sobre Linux y tecnologia, noticias, tutoriales y programacion.">
    <meta name="keywords" content="ubuntu,instalar,android,linux,blog,digitel,jam,galaxy,spica,noticias,tutorial,programacion,ruby,rails,python,hosting,sysadmin,rvm,rbenv,antena,wifi,directv,nosql,mongodb,couchdb">
    <link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
    <link href="http://feeds.feedburner.com/{{ site.author.feedburner }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
  </head>
  <body>
    <div id="page" class="hentry">
      <header class="the-header">
      <div class="unit-head">
        <div class="unit-inner unit-head-inner">
          <nav class="nav-global">
          <ul>
            <li class="logo"><a href="/">{{ site.title }}</a></li>
            <li class="archive"><a href="/archive.html">archivos</a></li>
            <li class="page"><a href="/pages.html">paginas</a></li>
            <li class="category"><a href="/categories.html">categorias</a></li>
            <li class="tag"><a href="/tags.html">etiquetas</a></li>
            <li>
              <form action="http://www.google.co.ve" id="cse-search-box" target="_blank">
                <div>
                  <input type="hidden" name="cx" value="partner-pub-5574611589043608:2825981152" />
                  <input type="hidden" name="ie" value="UTF-8" />
                  <input type="text" name="q" size="20" />
                  <input type="submit" name="sa" value="Buscar" />
                </div>
              </form><script type="text/javascript" src="http://www.google.co.ve/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
            </li>
          </ul>
          </nav>
        </div><!-- unit-inner -->
      </div><!-- unit-head -->
      </header>
      <div class="body" role="main">
        <div class="unit-body">
          <div class="unit-inner unit-body-inner">
            <div class="entry-content">
              {{ content }}
            </div>
          </div><!-- unit-inner -->
        </div><!-- unit-body -->
      </div><!-- body -->
      <footer class="the-footer">
      <div class="unit-foot">
        <div class="unit-inner unit-foot-inner">
          <div class="misc vcard">
            <h4>Acerca de...</h4>
            <ul>
              <li class="contact"><address><span class="author fn n">{{ site.author.name }}</span> - <span class="fn email">{{ site.author.email }}</span></address></li>
              <li class="github"><a href="http://github.com/{{ site.author.github }}/" rel="me">github.com/{{ site.author.github }}</a></li>
              <li class="twitter"><a href="http://twitter.com/{{ site.author.twitter }}/" rel="me">twitter.com/{{ site.author.twitter }}</a></li>
              <li class="rss"><a href="http://feeds.feedburner.com/{{ site.author.feedburner }}">Jam Blog RSS Feed</a></li>
            </ul>
          </div><!-- misc -->
          <p class="licence">
            Hecho con <br>
            <a href="https://github.com/mojombo/jekyll">Jekyll</a> + <a href="http://jekyllbootstrap.com/">Jekyll-bootstrap</a> + <a href="https://github.com">GitHub</a>
          </p>
        </div><!-- unit-foot-inner -->
      </div><!-- unit-foot -->
      </footer>
    </div><!-- page -->
    <script>
      (function(d, s) {
        var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.src = url; js.id = id;
          fjs.parentNode.insertBefore(js, fjs);
        };
        load('//platform.twitter.com/widgets.js', 'tweetjs');
        // load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
        // load('//connect.facebook.net/es_ES/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
      }(document, 'script'));
    </script>
    <script>
      /*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
      (function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
    </script>

    {% include JB/analytics %}

<a href="https://github.com/jesusangelm"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=6680637; 
var sc_invisible=1; 
var sc_security="fa6ce2c7"; 
</script>
<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script>
<noscript><div class="statcounter"><a title="tumblr
statistics" href="http://statcounter.com/tumblr/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/6680637/0/fa6ce2c7/1/"
alt="tumblr statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

<!-- Coloca esta petición de presentación donde creas oportuno. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=130253930351178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
