<head>
  <meta charset="utf-8" />
  <title> {{ page.title }}</title>
  <meta name="author" content="{{ site.author.name }}">
  <meta name"description" content="Jam Blog - Aprende Linux Facilmente. Blog sobre Linux y tecnologia, noticias, tutoriales y programacion.">
  <meta name="keywords" content="ubuntu,android,linux,blog,digitel,jam,spica,noticias,tutorial,programacion,ruby,rails,python,hosting,sysadmin,rvm,rbenv,nosql,mongodb,couchdb">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://blog.jam.net.ve/atom.xml" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="/assets/css/estilo.css">
  <link rel="stylesheet" href="/assets/css/monokai.css">
  <link type="text/plain" rel="author" href="http://blog.jam.net.ve/humans.txt" />
</head>
