<div class="col-md-3">
  <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- JamBlog_3_2014 -->
    <ins class="adsbygoogle"
    style="display:inline-block;width:180px;height:150px"
    data-ad-client="ca-pub-5574611589043608"
    data-ad-slot="8009102804"></ins>
    <script> (adsbygoogle = window.adsbygoogle || []).push({});</script>
  </p>
  <h2 class="subtitulo">¿Social?</h2>
  <ul class="list-unstyled">
    <li><img src="http://www.gravatar.com/avatar/610ab0b879a1b72baf3e57bd97497b4c?s=160"  class="img-circle"/></li>
    <li class="subtitulo"><address>{{ site.author.name }} - 
      <a href="mailto:jam@jam.net.ve">Contactame!</a></address></li>
    <li><a href="https://github.com/jesusangelm">
      <i class="glyphicon glyphicon-ok"></i> GitHub.</a></li>
    <li><a href="http://ve.linkedin.com/in/jesusangelm">
      <i class="glyphicon glyphicon-user"></i> LinkedIn</a></li>
    <li><a href="https://www.twitter.com/jesusangelm">
      <i class="glyphicon glyphicon-comment"></i> @jesusangelm</a></li>
    <li><a href="http://feeds.feedburner.com/jamunixblog">
      <i class="glyphicon glyphicon-bullhorn"></i> Suscribete a mis Feeds RSS.</a></li>
    <li><a href="http://www.lastfm.es/user/jesusangelm">
      <i class="glyphicon glyphicon-music"></i> LastFM.</a></li>
  </ul><br>
  <p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="YGKUAU9NRA9AW">
    <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
    <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
    </form>
  </p>
  <p>
  <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </p>
  <p>
  <form action="http://www.google.co.ve" id="cse-search-box" target="_blank">
    <div>
      <input type="hidden" name="cx" value="partner-pub-5574611589043608:2825981152" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" size="20" />
      <input type="submit" name="sa" value="Buscar" />
    </div>
  </form>

  <script type="text/javascript" src="http://www.google.co.ve/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
  </p>
  <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- JamBlog_2-2014 -->
      <ins class="adsbygoogle"
      style="display:inline-block;width:160px;height:600px"
      data-ad-client="ca-pub-5574611589043608"
      data-ad-slot="2381371600"></ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </p>
  <p>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- JamBlog_4-2014 -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:160px;height:600px"
     data-ad-client="ca-pub-5574611589043608"
     data-ad-slot="1683367607"></ins>
    <script> (adsbygoogle = window.adsbygoogle || []).push({});</script>
  </p>
</div>
