<div class="col-md-3">
  <h2 class="subtitulo">¿Social?</h2>
  <ul class="list-unstyled">
    <li><img src="http://www.gravatar.com/avatar/610ab0b879a1b72baf3e57bd97497b4c?s=160"  class="img-circle"/></li>
    <li class="subtitulo"><address>{{ site.author.name }} - 
      <a href="mailto:jam@jam.net.ve">Contactame!</a></address></li>
    <li><a href="https://github.com/jesusangelm">
      <i class="glyphicon glyphicon-ok"></i> GitHub.</a></li>
    <li><a href="http://ve.linkedin.com/in/jesusangelm">
      <i class="glyphicon glyphicon-user"></i> LinkedIn</a></li>
    <li><a href="https://www.twitter.com/jesusangelm">
      <i class="glyphicon glyphicon-comment"></i> @jesusangelm</a></li>
    <li><a href="http://feeds.feedburner.com/jamunixblog">
      <i class="glyphicon glyphicon-bullhorn"></i> Suscribete a mis Feeds RSS.</a></li>
    <li><a href="http://www.lastfm.es/user/jesusangelm">
      <i class="glyphicon glyphicon-music"></i> LastFM.</a></li>
  </ul><br>
  <p>
  <div id="google_translate_element"></div><script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({pageLanguage: 'es'}, 'google_translate_element');
    }
    </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </p>
  <p>
  <form action="http://www.google.co.ve" id="cse-search-box" target="_blank">
    <div>
      <input type="hidden" name="cx" value="partner-pub-5574611589043608:2825981152" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" name="q" size="20" />
      <input type="submit" name="sa" value="Buscar" />
    </div>
  </form>

  <script type="text/javascript" src="http://www.google.co.ve/coop/cse/brand?form=cse-search-box&amp;lang=es"></script>
  </p>
</div>
