<div class="span3">
  <h2 class="titulo">¿Social?</h2>
    <ul class="unstyled">
      <li><a href="https://github.com/jesusangelm">
         <i class="icon-ok"></i> GitHub.</a></li>
      <li><a href="http://ve.linkedin.com/in/jesusangelm">
          <i class="icon-user"></i> LinkedIn</a></li>
      <li><a href="https://www.twitter.com/jesusangelm">
          <i class="icon-comment"></i> @jesusangelm</a></li>
      <li><a href="http://feeds.feedburner.com/jamunixblog">
          <i class="icon-bullhorn"></i> Suscribete a mis Feeds RSS.</a></li>
      <li><a href="http://www.lastfm.es/user/jesusangelm">
          <i class="icon-music"></i> LastFM.</a></li>
    </ul>
</div>