<ul class="inline">
<li>
<!-- twitter -->
<a href="https://twitter.com/share" class="twitter-share-button" data-via="jesusangelm" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</li>
<li>
  <!-- coderwall -->
  <a href="https://coderwall.com/jesusangelm"><img alt="Endorse jesusangelm on Coderwall" src="http://api.coderwall.com/jesusangelm/endorsecount.png" /></a>
</li>
<li>
  <!-- google +1 -->
  <!-- Inserta esta etiqueta donde quieras que aparezca Botón +1. -->
<div class="g-plusone" data-size="medium"></div>

<!-- Inserta esta etiqueta después de la última etiqueta de Botón +1. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es-419'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</li>
<li>
<a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /> </a>
</li>
<li>
<a href="https://flattr.com/submit/auto?
  user_id=flattr&url=http://developers.flattr.net&
  title=Flattr%20API%20Documentation&
  description=Flattr%20API%20Documentation&
  language=en_GB&tags=flattr,api,programming&category=text">

<img src="https://api.flattr.com/button/flattr-badge-large.png"
  alt="Flattr our API Documentation" />
</a>
</li>
</ul>