<!DOCTYPE html>
<html>
{% include header.html %}
<body>
   {% include navbar.html %}
     <div class="container">
      <div class="jumbotron" id="cabecera">
        <h1 class="titulo">Jam Blog</h1>
        <h4 class="titulo">¡Respaldo de cosas que podria necesitar luego!</h4>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {{ content }}
        </div>
        {% include sidebar.html %}
      </div>
    </div>
{% include footer.html %}
{% include bootstrapjs.html %}
{% include analytics.html %}
</body>
</html>
