<!DOCTYPE html>
<html>
{% include header.html %}
<body>
  <!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=130253930351178";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

   {% include navbar.html %}
     <div class="container">
      <div class="hero-unit" id="cabecera">
        <h1 class="titulo">Jam Blog</h1>
        <h4 class="titulo">¡Aprende Linux Facilmente!</h4>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span9">
          {{ content }}
          <br>
          {% include social.html %}
          {% include disqus.html %}
        </div>
        {% include sidebar.html %}
      </div>
    </div>
{% include footer.html %}
{% include bootstrapjs.html %}
{% include analytics.html %}
</body>
</html>